<div class="w-100 d-flex flex-column justify-content-center align-items-center mt-5 pt-5">
    <span class="fs-1 text-success">Purchase successful!</span>
    <span class="fs-3 text-secondary">The order is on your way.</span>
</div>